- if !user_signed_in? || current_user.participants.find_by(event_id: event.id).nil?
  = link_to 'Salvar!', add_participant_event_path(event.id), remote: true, class: 'btn btn-participants participants'
- else
  = link_to 'Remover', remove_participant_event_path(event.id), remote: true, class: 'btn btn-danger ion-android-cancel'

