- unless events.to_a.empty?
	.col-lg-6
		%h3 #{title}
	.col-lg-12
		- events.each do |event|
			- cache event do
				.col-lg-3.animated.bounceInRight.event_box{ class: "thumbnail_event_#{event.id}"}= render 'users/event_box', event: event