.col-xs-12
  Nome:
  = event.name
.col-xs-12
  Descrição:
  = event.description
.col-xs-12
  de
  = event.begin_date.strftime('%d/%m/%Y') if !event.begin_date.nil?
.col-xs-12
  até
  = event.end_date.strftime('%d/%m/%Y') if !event.end_date.nil?