.home_wrapper
  .col-lg-8.col-lg-offset-2.center
    %h1 Sobre
    %hr
    %h2 Proposta
    %p
      Como alunos da Universidade de São Paulo sempre tivemos a sensação de não conseguir aproveitar ou até mesmo tomar conhecimento de todas atividades que aconteciam no campus pois dada sua extensão por vezes a divulgação não conseguia atingir à todos em tempo fazendo com que alguns eventos que gostaríamos de participar acabassem passando em branco. Quem nunca passou pela frustração de encontrar um anúncio  de uma boa palestra mas quando olhou a data percebeu que já havia acontecido?
    %p
      Somando-se a isso a idéia de incentivar que os próprios usuários do  campus ( sejam eles alunos, professores, funcionários ou  moradores das redondezas )  à organizar  eventos e atividades com o objetivo de ocupar o  espaço público  pensamos em criar o USP Eventos: <b> uma plataforma colaborativa que visa não apenas centralizar tudo o que acontece no campus como também incentivar a ocupação do mesmo com atividades organizadas pela própria comunidade.</b>
    %hr
    %h2 Quem somos
    %p
      Somos 2 graduandos pelo curso de Bacharelado em Ciência da Computação oferecido no Instituto de Matemática e Estatística (IME-USP) que ao longo desses anos convivendo diariamente dentro do Campus da Cidade Universitária decidimos criar como nosso Trabalho de Conclusão de curso um projeto visando facilitar a vida de quem, assim como a gente, passa boa parte do seu dia dentro da Universidade. Após um longo processo de pesquisa surgiu a idéia de implementar o USP Eventos.
    %p
      O USP Eventos é um projeto que está em constante evolução portanto depende totalmente das sugestões e críticas feitas pelos usuários a fim de melhorar e acrescentar novas funcionalidades na plataforma sendo assim não deixe de nos enviar as suas impressões através do nossa página de sugestões!

  .col-lg-4.col-lg-offset-2.italic
    Obrigado e esperamos que aproveite,
    .colg-12 Caio Teixeira da Quinta
    .colg-12 Eugenio Augusto Jimenes
