.home_wrapper
  .col-lg-3
    %h1 Próximos Eventos
  .col-lg-3
    = link_to "Criar Evento", new_event_path, class: "btn btn-info"
  #scrolling.col-lg-12
    %ul
      - Event.next_events.each do |event|
        %li.col-lg-3.event_box{ id: "next_event_#{event.id}"}= render 'event_box', event: event 
        