= link_to '', new_event_path, class: 'event-floater-btn ion-plus'
.home_wrapper
	%div{:canvas => "container"}
		#events=render 'events_list'
	.filters-wrapper{"off-canvas" => "sliderbar-1 left overlay"}
		.panel.panel-defaut
			.panel-heading.center Filtros	
			.panel-body
				#filters=render 'filters_list'
		.toogle-sliderbar-1.btn.btn-default.col-lg-12 Fechar
