.content-wrapper
  .col-lg-3
    %h1 Próximos Eventos
  .col-lg-3
    = link_to "Criar Evento", new_event_path, class: "btn btn-info"
  .col-lg-12
    - Event.next_events.each do |event|
      .col-xs-2.event_box{ id: "next_event_#{event.id}"}= render 'event_box', event: event 
  .col-lg-12
    %h1 Meus Eventos

