= link_to '', new_event_path, class: 'event-floater-btn ion-plus'
.home_wrapper
	- if user_signed_in? && current_user.preferences.empty?
		.alert_preferences
			%h3 Nos diga do que você gosta!  
			= link_to 'Complete seu perfil com suas preferências!', edit_user_registration_path
	%div{:canvas => "container"} 
		#events=render 'events_list'
	.filters-wrapper{"off-canvas" => "sliderbar-1 left overlay"}
		.panel.panel-defaut
			.panel-heading.center Filtros	
			.panel-body
				#filters=render 'filters_list'
		.toogle-sliderbar-1.btn.btn-default.col-lg-12 Fechar

:javascript
	(function(h,e,a,t,m,p) {
		m=e.createElement(a);m.async=!0;m.src=t;
		p=e.getElementsByTagName(a)[0];p.parentNode.insertBefore(m,p);
	})(window,document,'script','https://u.heatmap.it/log.js');