%header#first
  .header-content
    .inner
      %h1 USP Eventos
      %h4 Participe, crie e compartilhe seus eventos na USP
      = link_to 'Cadastrar', new_user_registration_path, class: 'btn btn-primary btn-xl'
      = link_to 'Entrar', new_user_session_path, class: 'btn btn-primary btn-xl'
  %video#video-background.fillWidth.fadeIn.wow.collapse.in{:autoplay => "", "data-wow-delay" => "0.5s", :loop => "", :poster => "https://s3-us-west-2.amazonaws.com/coverr/poster/Traffic-blurred2.jpg"}
    %source{:src => "https://s3-us-west-2.amazonaws.com/coverr/mp4/Traffic-blurred2.mp4", :type => "video/mp4"}
      Your browser does not support the video tag. I suggest you upgrade your browser.
.container
  .row
    .col-lg-4.col-md-4.text-center
      .feature
        %i.icon-lg.ion-android-laptop.wow.fadeIn{"data-wow-delay" => ".3s"}
        %h3 Tudo em um lugar só
        %p.text-muted Tudo que está acontecendo na USP em um só lugar!
    .col-lg-4.col-md-4.text-center
      .feature
        %i.icon-lg.ion-android-people.wow.fadeInUp{"data-wow-delay" => ".2s"}
        %h3 Crie
        %p.text-muted Gostaria de organizar uma festa? Um grupo de estudo? Basta criar o evento e compartilhar!
    .col-lg-4.col-md-4.text-center
      .feature
        %i.icon-lg.ion-loop.wow.fadeIn{"data-wow-delay" => ".3s"}
        %h3 Participe
        %p.text-muted Confirme sua presença e ajude a divulgar o evento para outras pessoas!
%section#last
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %h2.margin-top-0.wow.fadeIn Sugestões?
        %hr.primary/
        %p Precisamos da sua opinião! O USP eventos é um projeto de TCC do curso de Bacharelado em Ciência da Computação que depende da opinião dos usuários para melhorar e poder evoluir, portanto qualquer crítica ou sugestão é muito bem-vinda!
      .col-lg-10.col-lg-offset-1.text-center
        %form.contact-form.row
          .col-md-4
            %label
            %input.form-control{:placeholder => "Nome", :type => "text"}/
          .col-md-4
            %label
            %input.form-control{:placeholder => "Email", :type => "text"}/
          .col-md-12
            %label
            %textarea.form-control{:placeholder => "Mensagem...", :rows => "9"}
          .col-md-4.col-md-offset-4
            %label
            %button.btn.btn-primary.btn-block.btn-lg{"data-target" => "#alertModal", "data-toggle" => "modal", :type => "button"}
              Send
              %i.ion-android-arrow-forward
