%header#first
  .header-content
    .inner
      %h1 
        %p 
          %b USP
          Eventos
      %h4 Participe, crie e compartilhe seus eventos na USP
      = link_to 'Cadastrar', new_user_registration_path, class: 'btn btn-primary btn-xl'
      = link_to 'Entrar', new_user_session_path, class: 'btn btn-primary btn-xl'
      = link_to 'Ver Eventos', home_path, class: 'btn btn-primary btn-xl'
  #down-btn.down
  %video#video-background.fillWidth.fadeIn.wow.collapse.in{:autoplay => "", "data-wow-delay" => "0.5s", :loop => true}
    %source{:src => "https://linux.ime.usp.br/~caioquinta/movie.mp4", :type => "video/mp4"}
      Seu browser não suporta video tags, por favor atualize-o assim que puder.
      Your browser does not support the video tag. I suggest you upgrade your browser.
#events
  .event_wrapper.col-lg-12.col-md-12
    #next=render 'events_line', events: @next_events, title: 'Próximos Eventos'
.container
  %hr.primary/
  .row
    .col-lg-4.col-md-4.text-center
      .feature
        %i.icon-lg.ion-android-laptop.wow.fadeIn{"data-wow-delay" => ".3s"}
        %h3 Tudo em um lugar só
        %p.text-muted Tudo que está acontecendo na USP em um só lugar!
    .col-lg-4.col-md-4.text-center
      .feature
        %i.icon-lg.ion-android-people.wow.fadeInUp{"data-wow-delay" => ".2s"}
        %h3 Crie
        %p.text-muted Gostaria de organizar uma festa? Um grupo de estudo? Basta criar o evento e compartilhar!
    .col-lg-4.col-md-4.text-center
      .feature
        %i.icon-lg.ion-loop.wow.fadeIn{"data-wow-delay" => ".3s"}
        %h3 Participe
        %p.text-muted Confirme sua presença e ajude a divulgar o evento para outras pessoas!
%section#suggestion
  .container
    .row
      = render 'suggestions/form'


:javascript
$( document ).ready(function() {  
  $("#down-btn").click(function() {
    $('html,body').animate({ scrollTop: $("#events").offset().top}, 'slow');
  });
});