.container-fluid.event_wrapper
  .col-lg-12
    Nome:
    = @event.name
  .col-lg-12
    Descrição:
    = @event.description
  .col-lg-2
    de
    = @event.begin_date.strftime('%d/%m/%Y') if !@event.begin_date.nil?
  .col-lg-10
    até
    = @event.end_date.strftime('%d/%m/%Y') if !@event.end_date.nil?