.container-fluid.event_wrapper
  .row
    .col-lg-8.col-lg-offset-2.text-center
      %h1 Evento Criado com sucesso!
      %hr.primary/
      = render 'suggestion/form'
    = link_to "Home", root_path



