@import url(https://fonts.googleapis.com/css?family=Questrial)

@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700)

html, body
  width: 100%
  height: 100%

//Share Icons
.jssocials-share-link
  font-size: 10px
  border-radius: 50%

.center 
  text-align: center

.italic
  font-style: italic

.btn-filters
  font-size: 18px
  margin: 15px

.filter:before
  content: '\f0b0'
  padding-right: 5px
  font-family: FontAwesome

.humanas:before
  content: '\f0c0'
  padding-right: 5px
  font-family: FontAwesome
  color: red

.biologicas:before
  content: '\f06c'
  padding-right: 5px
  font-family: FontAwesome
  color: green

.exatas:before
  content: '\f12b'
  padding-right: 5px
  font-family: FontAwesome
  color: blue

.local:before
  content: '\f041'
  padding-right: 5px
  font-family: FontAwesome
  color: #F86056

.festa:before
  content: '\f0fc'
  padding-right: 5px
  font-family: FontAwesome
  color: orange

.teatro:before
  content: '\f145'
  padding-right: 5px
  font-family: FontAwesome
  color: blueviolet

.currency:before
  content: '\f155'
  padding-right: 5px
  font-family: FontAwesome
  color: green

.artes:before
  content: '\f1fc'
  padding-right: 5px
  font-family: FontAwesome
  color: darkred

.esportes:before
  content: '\f1e3'
  padding-right: 5px
  font-family: FontAwesome

.palestra:before
  content: '\f19c'
  padding-right: 5px
  font-family: FontAwesome
  color: crimson

.cinema:before
  content: '\f008'
  padding-right: 5px
  font-family: FontAwesome
  color: springgreen

.ciencia:before
  content: '\f0c3'
  padding-right: 5px
  font-family: FontAwesome
  color: cornflowerblue

.curso:before
  content: '\f19d'
  padding-right: 5px
  font-family: FontAwesome
  color: coral

.aula:before
  content: '\f02d'
  padding-right: 5px
  font-family: FontAwesome
  color: yellow

.participants:before
  content: '\f271'
  padding-right: 5px
  font-family: FontAwesome
  color: #5789FF

.signin_wrapper, .signup_wrapper, .edit_wrapper, .home_wrapper, .event_wrapper, .quick_event_wrapper
  font-size: 18px
  margin-bottom: 9%
  margin-top: 110px
  form .form-actions
    text-align: center
  .ion-social-facebook:before, .ion-person-add:before, .ion-android-cancel:before, .ion-person-stalker:before, .ion-ios-location:before, .ion-social-usd:before
    padding-right: 5px
    font-size: 16px
  .panel-heading
    background-color: #1094AB
    z-index: 10
    color: white
    border-radius: 0px
  .panel-body
    color: #36333D
    background-color: white
    .btn-default
      color: white
      background-color: #1094AB
      margin-top: 20px
      font-size: 16px
  .panel-default
    min-height: 35%
    border: none
    border-radius: 0px
    background-color: inherit
    animation-play-state: paused
    &:hover
      animation-play-state: running

.event_wrapper
  .planner_buttons
    margin-bottom: 10px
  .poster
    background-color: white
    max-height: 300px
    overflow-y: hidden
    img
      margin-left: auto
      margin-right: auto 

.notice
  background-color: #0E95AB
  font-size: 18px
  text-align: center
  -webkit-animation-name: flash

.alert.flash 
  background-color: red
  margin-bottom: 0px

.alert_preferences
  padding: 0px 20px 10px
  background-color: #0E95AB
  text-align: center
  padding-top: 5px
  h3:before
    content: '\f071'
    padding-right: 5px
    font-family: FontAwesome
    color: white
  a
    color: white
  a:hover
    color: white

.btn-participants
  color: white
  background-color: #5789FF
  &:before
    content: '\f271'
    padding-right: 5px
    font-family: FontAwesome
    color: white
  &:hover
    font-style: underline
    color: white

.ion-alert-circled:before
  color: red
  padding-right: 5px
  font-size: 18px

.thumbnail-tags
  color: #36333D
  border-radius: 5px
  padding: 1%
  &.exatas
    background-color: rgba(0,0,255,0.6)
  &.humanas
    background-color: rgba(255,0,0,0.6)
  &.biologicas
    background-color: rgba(0,255,0,0.6)
  &.festa
    background-color: rgba(234,153,6,0.4)
  &.teatro
    background-color: rgba(148,62,227,0.6)
  &.artes
    background-color: rgba(146,24,24,0.6)
  &.esportes
    background-color: grey
  &.palestra
    background-color: rgba(222,43,79,0.6)
  &.cinema
    background-color: rgba(6,234,120,0.3)
  &.ciencia
    background-color: rgba(115,139,238,0.6)
  &.curso
    background-color: rgba(252,137,95,0.6)
  &.aula
    background-color: rgba(208,207,37,0.6)
  &:hover
    opacity: 0.6
    color: black

.event_box
  margin: 10px 0px 10px 0px
  .panel
    margin: 0px
  .panel-body
    padding: 0px 15px 0px 15px
  .panel-heading
    background-color: #1094AB
  .poster
    background-color: white
    height: 100px
    overflow: hidden
    font-family: 'sans-serif'
    background-color: white
    color: #36333D
    padding: 0px
  .panel-footer
    min-height: 8%
    .btn-default
      color: white
      background-color: #1094AB

.event_box
  text-align: center
  font-size: 14px
  .name
    a
      color: white
    p
      line-height: 1
      -webkit-line-clamp: 1
      height: 40px
      padding-top: 5px
      margin-bottom: 0px
      line-weight: 400px
      overflow: hidden
      font-size: 18px
  .dates
    padding: 10px 0px 10px 0px
    color: #36333D
    &:before
      content: '\f073'
      padding-right: 5px
      font-family: FontAwesome
      color: #36333D
  .local
    -webkit-line-clamp: 1
    -webkit-box-orient: vertical
    font-size: 12px 
    overflow: hidden
  .tags
    max-height: 25px
    min-height: 25px
    font-size: 12px
  .panel:hover
    box-shadow: 0 0 20px #1094AB

.facebook-btn
  border-color: #3B5998
  border-bottom-color: #263a63
  background-color: #3B5998
  color: #fff
  font-size: 16px

.filters-wrapper .btn-default
  width: 90%
  margin-left: 10px
  opacity: 1.0
  &:before
    content: '\f00d'
    font-family: FontAwesome
    padding-right: 5px

.filters-wrapper .filter-tag
  padding:  5px
  border-bottom: 1px solid white

.filters-wrapper .panel
  background-color: inherit
  border: none
.filters-wrapper .panel-heading
  background-color: #FDB523
  opacity: 1
  font-size: 24px

.quick_event_wrapper
  color: black
  h3
    color: white
  .btn-default
    font-family: FontAwesome
    background-color: #097F67
    color: white
    font-size: 30px
    width: 50px
    height: 50px
    border-radius: 50%
    border: none
    margin-top: 20px
    box-shadow: 0 0 10px grey
    &:hover
      background-color: #097F67
      opacity: 1
  .chat
    background-color: #DED8CC
    margin-bottom: 10px
  .messages
    max-height: 80%
    overflow-y: scroll
    margin-bottom: 20px
  .message
    background-color: white
    margin: 10px
    border-radius: 3%
    .time
      font-style: italic
      font-size: small
      opacity: 0.9

@media (min-width: 768px)
  .event-floater-btn
    position: absolute
    top: 80%
    right: 5%
    display: inline-block
    z-index: 1000
    border-radius: 50%
    background-color: #FDB523
    color: white
    text-align: center
    box-shadow: 0 0 10px grey
    font-size: 250%
    width: 5%
    padding-top: 1%
    padding-bottom: 1%

@media (max-width: 768px)
  .event-floater-btn
    position: absolute
    top: 80%
    right: 5%
    display: inline-block
    z-index: 1000
    border-radius: 50%
    background-color: #FDB523
    color: white
    text-align: center
    box-shadow: 0 0 10px grey
    font-size: 120%
    width: 8%
    padding-top: 1.5%
    padding-bottom: 1.5%


body
  font-family: 'Questrial','Helvetica Neue',Arial,sans-serif
  background-color: #36333d
  color: white
  webkit-tap-highlight-color: #222

hr
  max-width: 80px
  border-width: 3px
  opacity: 0.09
  margin-top: 15px
  margin-bottom: 15px
  &.light
    border-color: #fff

a
  color: #0E95AB
  -webkit-transition: all .35s
  -moz-transition: all .35s
  transition: all .35s
  &:hover, &:focus
    color: #0E95AB
    outline: 0

h1, h2, h3, h4, h5, h6
  font-family: 'Questrial','Helvetica Neue',Arial,sans-serif

p
  font-size: 17px
  line-height: 1.7
  margin-bottom: 20px

.wide-space
  letter-spacing: 1.6px

.icon-lg
  font-size: 50px
  line-height: 18px

.bg-primary
  background-color: #333

.bg-dark
  color: #eee
  background-color: #222

.cursive
  font-family: 'Dancing Script', cursive
  text-transform: none

.text-faded
  color: rgba(245, 245, 245, 0.7)

.text-dark
  color: #111

.text-primary
  color: #9c27b0

.modal-content
  background-color: #1d1d1d

section
  padding: 70px 0

aside
  padding: 50px 0

footer
  position: fixed
  left: 0px
  bottom: 0px
  height: 30px
  width: 100%
  padding: 15px

.no-padding
  padding: 0

.navbar-default
  font-family: sans-serif,'Helvetica Neue',Arial
  background-color: #FDB523
  font-weight: bold
  -webkit-transition: all .4s
  -moz-transition: all .4s
  transition: all .4s
  padding-bottom: 10px

.navbar-header > .navbar-brand
  font-family: sans-serif,'Helvetica Neue',Arial
  padding: 15px
  -webkit-transition: padding .2s ease-in
  -moz-transition: padding .2s ease-in
  transition: padding .2s ease-in
  &:hover, &:focus
    color: #0E95AB

.navbar-default
  padding-top: 10px
  .navbar-toggle
    border-color: transparent
  .navbar-collapse
    border-color: transparent
  .nav > li
    > a
      text-transform: uppercase
      font-size: 13px
      font-weight: 700
      color: #eee
      &:focus
        text-transform: uppercase
        font-size: 13px
        font-weight: 700
        color: #eee
      &:hover, &:focus:hover
        color: #0E95AB
    &.active > a
      color: #0E95AB !important
      background-color: transparent
      &:focus
        color: #0E95AB !important
        background-color: transparent
      &:hover, &:focus:hover
        background-color: transparent

@media (min-width: 768px)
  .navbar-default
    border-color: transparent
    min-height: 60px
    color: white
  .navbar-header > .navbar-brand
    color: white
  .navbar-default
    .navbar-header .navbar-brand
      &:hover, &:focus
        color: #f4f4f4
        text-decoration: underline
    .nav > li > a
      color: white
      padding: 20px
      letter-spacing: 1.1px
      &:focus
        color: rgba(255, 255, 255, 1)
        padding: 20px
        letter-spacing: 1.1px
      &:hover, &:focus:hover
        color: #fefefe
        text-decoration: underline
    &.affix
      border-color: rgba(34, 34, 34, 0.05)
      background-color: #222
      .navbar-header .navbar-brand
        font-size: 15px
        color: #9c27b0
        padding: 20px
        letter-spacing: 1px
        &:hover, &:focus
          color: #8b27b0
      .nav > li > a
        color: #ddd
        text-shadow: 1px 1px 1px rgba(30, 30, 30, 0.7)
        &:focus
          color: #ddd
          text-shadow: 1px 1px 1px rgba(30, 30, 30, 0.7)
        &:hover, &:focus:hover
          color: #0E95AB

header
  position: relative
  min-height: auto
  text-align: center
  color: #fff
  width: 100%
  background-color: #c9c9c9
  background-image: url('https://splashbase.s3.amazonaws.com/lifeofpix/regular/Life-of-Pix-free-stock-photos-Slate-Stone-Xeromatic-1440x953.jpg')
  background-position: center
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover
  .header-content
    position: relative
    width: 100%
    padding: 100px 15px
    text-align: center
    z-index: 2
    .inner
      color: white
      h1 > p
        font-size:  70px
      p
        margin-bottom: 100px
        font-size: 16px
        font-weight: 300

.pattern-bg
  background:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAIElEQVQIW2NkYGD4zwABjFAazMAqCFMAp+FakGWwCgIAtpQCBvZ2xwcAAAAASUVORK5CYII=')
  background-color: rgba(0, 0, 0, .7)
  background-blend-mode: multiply

#video-background
  position: absolute
  right: 0
  bottom: 0
  min-width: 100%
  min-height: 100%
  width: auto
  height: auto
  z-index: 1
  &.collapsing
    display: none
footer
  background-color: #2d2d2d

@media (min-width: 768px)
  .icon-lg
    font-size: 80px
  header
    min-height: 100%
    .header-content
      position: absolute
      top: 50%
      padding: 0 50px
      -webkit-transform: translateY(-50%)
      -ms-transform: translateY(-50%)
      transform: translateY(-50%)
      .inner
        margin-right: auto
        margin-left: auto
        max-width: 600px
        background-color: rgba(253,181,35, 0.9)
        padding-bottom: 20px
        h1
          font-size: 53px
        p
          margin-right: auto
          margin-left: auto
          max-width: 80%
          font-size: 18px
  section
    min-height: 600px
    padding: 100px 0

.form-control
  display: block
  width: 100%
  height: 35px
  padding: 6px 12px
  font-size: 14px
  line-height: 1.5
  color: #36333d
  background-color: #F0F0F0
  background-image: none
  border: 1px solid #36333d
  border-radius: 4px
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
  &:focus
    box-shadow: none

textarea
  resize: none

.margin-top-0
  margin-top: 0

.feature
  margin: 50px auto 0
  max-width: 400px
  p
    margin-bottom: 0

@media (min-width: 992px)
  .feature
    margin: 20px auto 0

.call-to-action h2
  margin: 0 auto 20px

.gallery-box
  display: block
  position: relative
  margin: 0 auto
  max-width: 650px
  overflow: hidden
  .gallery-box-caption
    display: block
    position: absolute
    bottom: 0
    width: 100%
    height: 100%
    text-align: center
    color: #fff
    opacity: 0
    background: rgba(44, 44, 44, 0.8)
    -webkit-transition: all .35s
    -moz-transition: all .35s
    transition: all .35s
    .gallery-box-content
      position: absolute
      top: 50%
      width: 100%
      text-align: center
      transform: translateY(-50%)
  &:hover
    .gallery-box-caption
      opacity: 1
    img
      -webkit-transform: scale(1.1)
      -ms-transform: scale(1.1)
      transform: scale(1.1)
  img
    -webkit-transition: all 300ms ease-in-out
    transition: all 300ms ease-in-out

.no-gutter > [class*=col-]
  padding-right: 0
  padding-left: 0

.btn-default
  border-color: #fff
  color: #222
  background-color: #fff
  -webkit-transition: all .35s
  -moz-transition: all .35s
  transition: all .35s
  &:hover, &:focus, &.focus, &:active, &.active
    border-color: #ededed
    color: #222
    background-color: #f2f2f2
    opacity: 0.7

.open > .dropdown-toggle.btn-default
  border-color: #ededed
  color: #222
  background-color: #f2f2f2
  opacity: 0.7

.btn-default
  &:active, &.active
    background-image: none

.open > .dropdown-toggle.btn-default
  background-image: none

.btn-default
  &.disabled, &[disabled]
    border-color: #fff
    background-color: #fff
    opacity: 0.7

fieldset[disabled] .btn-default
  border-color: #fff
  background-color: #fff
  opacity: 0.7

.btn-default
  &.disabled:hover, &[disabled]:hover
    border-color: #fff
    background-color: #fff
    opacity: 0.7

fieldset[disabled] .btn-default:hover
  border-color: #fff
  background-color: #fff
  opacity: 0.7

.btn-default
  &.disabled:focus, &[disabled]:focus
    border-color: #fff
    background-color: #fff
    opacity: 0.7

fieldset[disabled] .btn-default:focus
  border-color: #fff
  background-color: #fff
  opacity: 0.7

.btn-default
  &.disabled.focus, &[disabled].focus
    border-color: #fff
    background-color: #fff
    opacity: 0.7

fieldset[disabled] .btn-default.focus
  border-color: #fff
  background-color: #fff
  opacity: 0.7

.btn-default
  &.disabled:active, &[disabled]:active
    border-color: #fff
    background-color: #fff
    opacity: 0.7

fieldset[disabled] .btn-default:active
  border-color: #fff
  background-color: #fff
  opacity: 0.7

.btn-default
  &.disabled.active, &[disabled].active
    border-color: #fff
    background-color: #fff
    opacity: 0.7

fieldset[disabled] .btn-default.active
  border-color: #fff
  background-color: #fff
  opacity: 0.7

.btn-default .badge
  color: #fff
  background-color: #222

.btn
  &.btn-primary
    background-color: transparent
    border: 4px solid #f0f0f0
    border-color: #f0f0f0
    -webkit-transition: all .35s
    -moz-transition: all .35s
    transition: all .35s
    &:hover
      background-color: #1094AB
  border: 0
  border-radius: 290px
  font-family: 'Helvetica Neue',Arial,sans-serif

.btn-xl
  padding: 15px 30px
  font-size: 20px

\::-moz-selection, ::selection
  text-shadow: none
  color: #fff
  background: #222

img
  &::selection, &::-moz-selection
    color: #fff
    background: 0 0
