%footer#footer
  .container-fluid.text-center
    %span.text-muted.small
      Projeto de conclusão do curso de Bacharelado em Ciência da Computação para Instituto de Matemática e Estatística da Universidade de São Paulo.
