%p
  Olá #{@resource.name}!
%p Alguém solicitou uma mudança de senha para o e-mail #{@resource.email}. Você pode fazer isso através do link abaixo:
%p= link_to 'Trocar Senha', edit_password_url(@resource, reset_password_token: @token)
%p Se você NÃO solicitou essa mudança de senha por favor ignore esse e-mail.
%p Sua senha não irá ser alterada até que você acesse o link acima e crie uma nova.
